
$navbar-light-color:#d284ab;
$navbar-light-hover-color: rgba(#d284ab, .7);
$navbar-light-active-color: rgba(#8c9399, .9);
$secondary: #f6f6f6;


$theme-colors: (
  "primary": #d284ab,
  "danger": #dc3545,
);



